*/Library/*
Library/*
*/Temp/*
Temp/*
*/Logs/*
Logs/*
*/obj/*
obj/*
Packages/*
*/ProjectSettings/*
Assets/ExternalDependencyManager/*
Assets/GoogleMobileAds/*
Assets/Plugins/*
*/*.aab
*/*.apk
*/*.keystore
*/.idea/*
.idea/*
*.rar
*.json
*.csproj
*/*.csproj